<%= form_with(model: program, local: true) do |form| %>
  <% if program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
      <% program.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :morn_insp %>
    <%= form.text_field :morn_insp %>
  </div>

  <div class="field">
    <%= form.label :even_ins %>
    <%= form.text_field :even_ins %>
  </div>

  <div class="field">
    <%= form.label :night_ins %>
    <%= form.text_field :night_ins %>
  </div>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.text_field :student_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
