<p id="notice"><%= notice %></p>

<h1>Programs</h1>

<table>
  <thead>
    <tr>
      <th>Morn insp</th>
      <th>Even ins</th>
      <th>Night ins</th>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @programs.each do |program| %>
      <tr>
        <td><%= program.morn_insp %></td>
        <td><%= program.even_ins %></td>
        <td><%= program.night_ins %></td>
        <td><%= program.student %></td>
        <td><%= link_to 'Show', program %></td>
        <td><%= link_to 'Edit', edit_program_path(program) %></td>
        <td><%= link_to 'Destroy', program, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Program', new_program_path %>
