<p id="notice"><%= notice %></p>

<p>
  <strong>Morn insp:</strong>
  <%= @program.morn_insp %>
</p>

<p>
  <strong>Even ins:</strong>
  <%= @program.even_ins %>
</p>

<p>
  <strong>Night ins:</strong>
  <%= @program.night_ins %>
</p>

<p>
  <strong>Student:</strong>
  <%= @program.student %>
</p>

<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %>
