<p id="notice"><%= notice %></p>

<h1>Reports</h1>

<table>
  <thead>
    <tr>
      <th>Student name</th>
      <th>Maths mark</th>
      <th>Eng mark</th>
      <th>Kis mark</th>
      <th>School</th>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.student_name %></td>
        <td><%= report.maths_mark %></td>
        <td><%= report.eng_mark %></td>
        <td><%= report.kis_mark %></td>
        <td><%= report.school %></td>
        <td><%= report.student %></td>
        <td><%= link_to 'Show', report %></td>
        <td><%= link_to 'Edit', edit_report_path(report) %></td>
        <td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report', new_report_path %>
