<p id="notice"><%= notice %></p>

<p>
  <strong>Student name:</strong>
  <%= @report.student_name %>
</p>

<p>
  <strong>Maths mark:</strong>
  <%= @report.maths_mark %>
</p>

<p>
  <strong>Eng mark:</strong>
  <%= @report.eng_mark %>
</p>

<p>
  <strong>Kis mark:</strong>
  <%= @report.kis_mark %>
</p>

<p>
  <strong>School:</strong>
  <%= @report.school %>
</p>

<p>
  <strong>Student:</strong>
  <%= @report.student %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
